
  
  /* Back Link Styles */
  .BackLink {
    font-size: 1.125rem; /* 18px */
    color: white;
    text-decoration: underline;
  }
  
  .BackLink:hover {
    color: #d1d5db; /* Light gray on hover */
  }
  